@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    display: grid;
    grid-template-columns: 50vh 50vh;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-template-areas:
        "nav nav"
        "hd hd"
        "sv sv"
        "tm tm"
        "pf pf"
        "ct ct"
        "ft ft"
}

p {
    line-height: 2em;
    font-weight: 300;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

/* NAVIGATION */

#navbar {
    grid-area: nav;
    top: 0;
    z-index: 100;
    align-items: center;
    height: 5vh;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    height: 100%;
    padding: 2.5em 4em;
}

.menu-item:hover {
    background-color: #9EAEFF40;
}

.menu-item a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: #363636;
}

.logo {
    margin-right: auto;
    margin-left: 2em;
}

/* HEADER */

header {
    grid-area: hd;
    background-color: beige;
}

#hero {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-content {
    display: flex;
    flex-flow: column wrap;
    margin-top: auto;
}

#down-arrow {
    margin-top: auto;
    margin-bottom: 2rem;
}
.btn-cta {
    padding: 2em;
}

/* SERVICES */
#services {
    grid-area: sv;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas:
        "sv1 sv2"
        "sv1 sv2"
}

.column1 {
    grid-area: sv1;
}

.column2 {
    grid-area: sv2;
}

.textbox {
    padding: 2em;
}

.textbox-title {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 2em;
}

/* TEAM */


#team {
    background-color: beige;
    grid-area: tm;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas:
        "tm1 tm2"
        "tm1 tm2"
}

.team-column1 {
    grid-area: tm1;
}

.team-column2 {
    grid-area: tm2;
}

.member {
    padding: 1em;
    line-height: normal;
}

.name {
    font-weight: 500;
}

.title {
    font-weight: 300;
    color: #C2BDBD;
    font-size: 0.8;
}

.qbox {
    width: 300px;
    margin: 0.5em 0;
    display: flex;
}

.qicon {
    padding-right: 0.8em;
}

.quote {
    margin-left: auto;
    line-height: normal;
    font-size: 0.8;
}



/* PORTFOLIO */

#portfolio {
    grid-area: pf;
    height: 100vh;
}

/* CONTACT */

#contact {
    background-color: beige;
    grid-area: ct;
}

/* FOOTER */

footer {
    grid-area: ft;
}